colorama==0.3.7
Flask==0.10.1
future==0.15.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
py==1.4.31
pytest==2.8.7
requests==2.7.0
requests-mock==0.6.0
six==1.9.0
sodapy==1.2.0
Werkzeug==0.11.9
numpy==1.9.2
scipy==0.15.1
sklearn==0.0
scikit-learn==0.17.1
